.site-footer {
    font-size: var(--font-size-sm);
}

.site-footer > .container {
    max-width: var(--max-width-medium);
    margin: 0 auto;
    padding: 4.5rem 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}